<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Umfrageseite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {% block style %}
    {% endblock style %}
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-sm  navbar-light bg-light sticky-top ">
  {% if user.is_authenticated %}
    <a class="navbar-brand" href="/">Hallo {{user.username}}</a>
  {% else %}
    <a class="navbar-brand" href="/">Micha goes Python</a>
    <button class="btn btn-success ml-auto mr-1" data-toggle="modal" data-target="#modalLoginForm">Anmelden</button>
  {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarContent">
        <ul class="navbar-nav text-right">
            <li class="nav-item active">
                <a class="nav-link" href="/poll/">Umfrage</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/forum/">Forum</a>
            </li>
            {% if user.is_authenticated %}
             <li class="nav-item active">
                <a class="nav-link" href="/intern/">Intern</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!-- Navbar -->

<!-- Login -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Anmelden</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'user_auth:login' %}" method="post">
      <div class="modal-body mx-3">
        {% csrf_token %}
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="text" id="defaultForm-email" class="form-control validate" name="username">
          <label data-error="wrong" data-success="right" for="defaultForm-email">Nutzername</label>
        </div>
        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control validate" name="password">
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Password</label>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-default">Login</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!--
<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalLoginForm">Launch
    Modal Login Form</a>
</div>-->
<!-- Login -->

<div class="container" style="margin-top:20px; margin-bottom:20px;">
  {% block content %}
  {% endblock content %}
</div>

<!-- Footer -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">

    <form class="form-inline" action="{% url 'search:umfrage-suche' %}" method="post">
        {% csrf_token %}
        <input class="form-control" style="margin-left:10px; margin-right:10px;" type="search" name="search" placeholder="Suchen nach ..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" style="display: none;" type="submit">Go</button>
    </form>
    {% if user.is_authenticated %}
    <form class="form-inline my-2 my-lg-0" action="{% url 'user_auth:logout' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </form>
    {% endif %}
</nav>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    {% block javascript %}
    {% endblock javascript %}
</body>

</html>