{% extends 'index/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <form id="topic-form" action="{% url 'forum:topic_edit' form.slug.value %}" method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-warning btn-sm" value="Edit Topic" />
    </form>
</div>
<hr />
{% else %}
<h2>EINLOGGEN!</h2>
{% endif %}
{% endblock content %}


{% block javascript %}
{% endblock javascript %}