{% extends 'index/base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <form id="topic-form" action="{% url 'forum:post_edit' form.slug.value %}" method="POST" >
        <div class="row">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group col-4">
                <label class="col-12">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Edit Topic" />

        </div>
    </form>
</div>
<hr />
{% else %}
<h2>EINLOGGEN!</h2>
{% endif %}
{% endblock content %}


{% block javascript %}
{% endblock javascript %}