{% extends 'index/base.html' %}
{% load static %}
{% load humanize %}

{% block style %}
   <style type="text/css">
   .bd-example {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: .2rem;
   }
   </style>
{% endblock style %}

{% block content %}
{% if topic %}

<h1>{{ topic.name }}</h1>
<h5>Anzahl Antworten {{ count }}</h5>
{% if user.is_authenticated %}
     <a class="btn btn-default" href="{% url 'forum:topic_edit' topic.slug %}"><span class="glyphicon glyphicon-pencil">#</span></a>
{% endif %}

<p class="font-weight-light"><b>Erstellt vor</b> {{ topic.publish_time|timesince }} | <b>Autor:</b> {{ topic.author }}</p>

<p class="lead">{{ topic.posting|linebreaksbr }}</p>

<hr />

   {% if topic.post_set.all %}
   <h3>Antworten</h3>
     {% for choice in topic.post_set.all %}
        <div class="alert alert-secondary" role="alert">
          <h4 class="alert-heading">{{choice.name}}</h4>
          <p>{{choice.post}}</p>
          <hr>
          <p class="mb-0">Autor: <cite title="Source Title">{{choice.author}}</cite> | Geschrieben vor: <cite title="Source Title">{{choice.publish_time|timesince}}</cite></p>
        </div>
     {% endfor %}
   {% else %}
       <p class="lead">Es sind leider noch keine Antworten vorhanden. Trag doch gleich eine ein!</p>
   {% endif %}

    {% if user.is_authenticated %}
    <form id="post-form" action="{% url 'forum:posting_new' topic.slug %}" method="POST" >
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" value="Antwort schreiben" />
    </form>
    {% endif %}

{% else %}
<h2>Kein Topic gefunden</h2>
{% endif %}

{% endblock content %}


{% block javascript %}
{% endblock javascript %}